/* Global */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #0A2E4D;
  line-height: 1.6;
}

/* Header */
header {
  text-align: center;
  padding: 70px 20px 50px;
  border-bottom: 1px solid #e6e6e6;
}

.logo {
  width: 200px; /* Increased size */
  margin-bottom: 14px;
}

h1 {
  margin: 0;
  font-size: 2.6rem;
  font-weight: 600;
}

.subtitle {
  margin-top: 8px;
  font-size: 1.2rem;
  color: #1b597f;
}

/* Sections */
section {
  max-width: 950px;
  margin: auto;
  padding: 70px 20px;
}

/* Founder Section */
#about {
  text-align: center;
}

#about img {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  object-fit: cover;
  bo
